[submodule "third_party/long-form-factuality"]
	path = third_party/long-form-factuality
	url = https://github.com/google-deepmind/long-form-factuality
[submodule "third_party/longfact"]
	path = third_party/longfact
	url = https://github.com/google-deepmind/long-form-factuality
[submodule "third_party/factscore"]
	path = third_party/factscore
	url = https://github.com/shmsw25/FActScore
